<h3>Sign up</h3>

<br>
<div class = "signup_form">
	<form method="post">
		<label>
			<div>User Name</div>
			<input type="text" name="username" value="">
		</label>
		<br>
		<label>
			<div>Email</div>
			<input type="text" name="email" value="">
		</label>
		<br>
		<label>
			<div>Password</div>
			<input type="password" name="password" value="">
		</label>
		<br>
		<label>
			<div>Validate Password</div>
			<input type="password" name="password" value="">
		</label>
		<input type="submit">
	</form>
</div>