<div class="aboutTron"> 
      <div class="container">
		<h1>Xup help you finding and sharing parties!</h1>
     </div>
     <div class="thumbnail">
	                 <img src="http://thepopfix.com/wp-content/uploads/2014/04/project-x.jpeg">
	 </div> 
     <h3>Connect with cool people, and have a good time.</h3> 
</div> 