<h1>Editing party</h1>

<%= render 'form' %>
<br />

<div class="btn-group">
    <%= link_to 'Show', @party, :class => "btn btn-default" %>
    <%= link_to 'Back', parties_path, :class => "btn btn-default" %>
</div>
