<!-- Landing page under construction -->
<div class="jumbotron">
      <div class="container">
        <h1>Find a place to preparty.</h1>
        <p>Connect with cool people, and have a good time.</p>
      </div>
</div> 
    
<div class="neighborhood-guides">
	<div class="container">
	    <h2> Neighborhood preparty </h2>
	    <p>
	        Not sure where to to go? Here are som preparty's in your area
	    </p>
	      <div class ="row">
	        <div class="col-md-4">
	            <div class="thumbnail">
	                 <img src="http://studvest.no/sites/default/files/mat_nat_vors_jsm_17.jpg" >
	            </div>
	            <div class="thumbnail">
	                 <img src="http://bleuwater.files.wordpress.com/2014/04/maxresdefault.jpg" >
	            </div> 
	        </div>
	        <div class="col-md-4"> 
	             <div class="thumbnail">
	                 <img src="http://goo.gl/Av1pac">
	            </div>
	            <div class="thumbnail">
	                 <img src="http://goo.gl/vw43v1" >
	            </div> 
	        </div>
	        <div class="col-md-4"> 
	           <div class="thumbnail">
	                 <img src="http://goo.gl/0Kd7UO"  >
	            </div> 
	        </div>
	    </div>
	</div>
</div>
    <!-- /content, do not want to inherris this-->
    
    

<div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <h3>Join a preparty</h3>
	      <p>From apartments and rooms to treehouses and boats: meet cool people.</p>
          <p><a href="/upcoming">See how to join on preparty</a></p>
      </div>
      <div class="col-md-4">
        <h3>Throw a preparty</h3>
        <p>Throwing a preparty is allways fun.</p>
        <p><a href="/about">Learn more about hosting</a></p>
      </div>
      <div class="col-md-4">
        <h3>Trust and Safety</h3>
	    <p>People who get bad reviews will be blocked from this community</p>
        <p><a href="/help">Learn about trust at preparty</a></p>
      </div>
    </div>
  </div>
</div>