<!-- Landing page under construction -->
<div class="jumbotron">
      
      <div class="container">
		<h1>Find a place to preparty!</h1>
		<div class="col-md-8">	 
     	</div>
     	<div class="col-md-4">
     		<%= render 'signupform' %>
     	</div> 
     </div>
     <h3>Connect with cool people, and have a good time.</h3> 
</div> 
    
<div class="neighborhood-guides">
	<div class="container">
	    <h2> Neighborhood preparty </h2>
	    <p>
	        Not sure where to to go? Here are som preparty's in your area
	    </p>



<script>
	// Note: This example requires that you consent to location sharing when
	// prompted by your browser. If you see a blank space instead of the map, this
	// is probably because you have denied permission for location sharing.



	var map;
	var pos;

	var citymap = {};

	citymap['losangeles'] = {
	  center: new google.maps.LatLng(34.413088, -119.847764),

	  radius: 1000
	}
		var cityCircle;

		
		function initialize() {
		  var mapOptions = {
		    zoom: 14
		  };
		  map = new google.maps.Map(document.getElementById('map-canvas'),
		      mapOptions);

		  for (var city in citymap) {
	    // Construct the circle for each value in citymap. We scale population by 20.
		    var populationOptions = {
		      strokeColor: '#FF0000',
		      strokeOpacity: 0.8,
		      strokeWeight: 2,
		      fillColor: '#FF0000',
		      fillOpacity: 0.35,
		      map: map,
		      center: citymap[city].center,
		      radius: citymap[city].radius
		    };
		    cityCircle = new google.maps.Circle(populationOptions);
	  }
		  

		  // Try HTML5 geolocation
		  if(navigator.geolocation) {
		    navigator.geolocation.getCurrentPosition(function(position) {
		      pos = new google.maps.LatLng(position.coords.latitude,
		                                       position.coords.longitude);
		     

		      var infowindow = new google.maps.InfoWindow({
		        map: map,
		        position: pos,
		        content: 'Find parties in this area'
		      });

		      map.setCenter(pos);
		    }, function() {
		      handleNoGeolocation(true);
		    });
		  } else {
		    // Browser doesn't support Geolocation
		    handleNoGeolocation(false);
		  }


		 
		}

		function handleNoGeolocation(errorFlag) {
		  if (errorFlag) {
		    var content = 'Error: The Geolocation service failed.';
		  } else {
		    var content = 'Error: Your browser doesn\'t support geolocation.';
		  }

		  var options = {
		    map: map,
		    position: new google.maps.LatLng(60, 105),
		    content: content
		  };

		  var infowindow = new google.maps.InfoWindow(options);
		  map.setCenter(options.position);
		}

		google.maps.event.addDomListener(window, 'load', initialize);
		
		

</script>

  <div id="map-canvas"></div>

	      <div class ="row">
	        <div class="col-md-4">
	            <div class="thumbnail">
	                 <img src="http://harryincali.files.wordpress.com/2013/05/img_1380.jpg" >
	            </div>
	            <div class="thumbnail">
	                 <img src="http://bleuwater.files.wordpress.com/2014/04/maxresdefault.jpg" >
	            </div> 
	        </div>
	        <div class="col-md-4"> 
	             <div class="thumbnail">
	                 <img src="http://2.bp.blogspot.com/_-tDuDhxev0k/TLKuMBwh6sI/AAAAAAAAACc/hjNcFNVbBEI/s1600/IMG_0091-1.jpg">
	            </div>
	            <div class="thumbnail">
	                 <img src="http://media.independent.com/img/photos/2009/04/08/P4040977_t479.jpg?6626f76dcd72edc2e28f46812c7026450162bdb2" >
	            </div> 
	        </div>
	        <div class="col-md-4"> 
	           <div class="thumbnail">
	                 <img src="http://s3.amazonaws.com/rapgenius/beer_pong1.jpg"  >
	            </div> 
				<div class="thumbnail">
	                 <img src="http://media.jrn.com/images/drink.19_1.jpg"  >
	            </div> 
	        </div>
	    </div>
	</div>
</div>
    <!-- /content, do not want to inherris this-->
    
<div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <h3>Join a preparty</h3>
	      <p>Cool apartments, houses and boats. Meet cool people anywhere.</p>
          <p><a href="/upcoming">See how to join on preparty</a></p>
      </div>
      <div class="col-md-4">
        <h3>Throw a preparty</h3>
        <p>Throwing a preparty is allways fun.</p>
        <p><a href="/about">Learn more about hosting</a></p>
      </div>
      <div class="col-md-4">
        <h3>Trust and Safety</h3>
	    <p>People who get bad reviews will be blocked from this community</p>
        <p><a href="/help">Learn about trust at preparty</a></p>
      </div>
    </div>
  </div>
</div>