<!-- Landing page under construction -->
<div class="jumbotron">
      
      <div class="container">
		<h1>Find a place to preparty.</h1>
		<div class="col-md-8">	 
     	</div>
     	<div class="col-md-4">
			<h2> Sign up here </h2>
			<br><br><br>
			<h4> Name form here </h4>
			<br>
			<h4> Email form here</h4>
			<br>
			<h4> Password form here</h4>
     	</div> 
     </div>
     <p>Connect with cool people, and have a good time.</p> 
</div> 
    
<div class="neighborhood-guides">
	<div class="container">
	    <h2> Neighborhood preparty </h2>
	    <p>
	        Not sure where to to go? Here are som preparty's in your area
	    </p>
	      <div class ="row">
	        <div class="col-md-4">
	            <div class="thumbnail">
	                 <img src="http://harryincali.files.wordpress.com/2013/05/img_1380.jpg" >
	            </div>
	            <div class="thumbnail">
	                 <img src="http://bleuwater.files.wordpress.com/2014/04/maxresdefault.jpg" >
	            </div> 
	        </div>
	        <div class="col-md-4"> 
	             <div class="thumbnail">
	                 <img src="http://2.bp.blogspot.com/_-tDuDhxev0k/TLKuMBwh6sI/AAAAAAAAACc/hjNcFNVbBEI/s1600/IMG_0091-1.jpg">
	            </div>
	            <div class="thumbnail">
	                 <img src="http://media.independent.com/img/photos/2009/04/08/P4040977_t479.jpg?6626f76dcd72edc2e28f46812c7026450162bdb2" >
	            </div> 
	        </div>
	        <div class="col-md-4"> 
	           <div class="thumbnail">
	                 <img src="http://s3.amazonaws.com/rapgenius/beer_pong1.jpg"  >
	            </div> 
				<div class="thumbnail">
	                 <img src="http://media.jrn.com/images/drink.19_1.jpg"  >
	            </div> 
	        </div>
	    </div>
	</div>
</div>
    <!-- /content, do not want to inherris this-->
    
<div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <h3>Join a preparty</h3>
	      <p>Cool apartments, houses and boats. Meet cool people anywhere.</p>
          <p><a href="/upcoming">See how to join on preparty</a></p>
      </div>
      <div class="col-md-4">
        <h3>Throw a preparty</h3>
        <p>Throwing a preparty is allways fun.</p>
        <p><a href="/about">Learn more about hosting</a></p>
      </div>
      <div class="col-md-4">
        <h3>Trust and Safety</h3>
	    <p>People who get bad reviews will be blocked from this community</p>
        <p><a href="/help">Learn about trust at preparty</a></p>
      </div>
    </div>
  </div>
</div>