<hr>

<div class = "login_form">
	<form method="post">
		<label>
			<div>User Name</div>
			<input type="text" name="username" value="">
		</label>
		<br>
		<label>
			<div>Password</div>
			<input type="password" name="password" value="">
		</label>

		<input type="submit">
	</form>
</div>