<div class="aboutTron"> 
      <div class="container">
		<h1>Sucsesful logout!</h1>
     </div>
     <div class="thumbnail">
	                 <img src="http://i.kinja-img.com/gawker-media/image/upload/s--kC4EWxTt--/18mp2l0unhm4hjpg.jpg">
	 </div> 
</div>