<div class="jumbotron">
      
      <div class="container">
		<h1>Join this amazing community!</h1>
		<div class="col-md-8">	 
     	</div>
     	<div class="col-md-4">
     		<%= render 'signupform' %>
     	</div> 
     </div>
     <h3>Connect with cool people, and have a good time.</h3> 
</div> 