  <%# add sidebar %>    
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li>
            <% if user_signed_in?  %>
                <%= link_to "My Account", profile_path(current_user.id) %>
            <% end %>
          </li>
          <li>
            <% if user_signed_in? %>
              <a href="/myparties">My Parties</a>
            <% end %>
          </li>
          <li>
            <a href="/myinvites">My Invitations</a>
          </li>
          <li>
            <a href="/partyrequest">Requests</a>
          </li>
          <li>
            <a href="#">Friends</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    	<%= yield %>
      </div>
    </div>
  </div>